<h2 class="text-center mt-5" id="reach"> REACH OUT </h2>
        <div class="container mt-1 d-flex justify-content-between">
            <!-- style="width: 18rem;" -->
          <div class="card mt-5" style="width: 20rem" >
            <img src="{{ url_for('static', filename='images/Teacher.png')}}"class="card-img-top img-fluid" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title text-center mb-3">LIVE LECTURES</h5>
              <p class="card-text"> Unlock the secrets of computer science through our interactive and dynamic live classes, well structured approach and available to all individuals having a background in compiuter science or not. </p>
              <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#scroll" >Live Classes </a>
            </div>
          </div>

          <!-- 2ndcard -->
          <div class="card mt-5" style="width: 20rem;">
            <img src= "{{ url_for('static', filename='images/studying.png')}}" class="card-img-top img-fluid" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title text-center mb-3">PEER TO PEER</h5>
              <p class="card-text">This collaborative approach fosters a sense of camaraderie and mutual support, creating a conducive atmosphere for learning, problem-solving, and personal development.


                .</p>
              <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">JOIN PEER SPACE</a>
            </div>
          </div>
          <!-- 3rd class -->

          <div class="card mt-5" style="width: 20rem" >
            <img src="{{ url_for('static',  filename='images/conversation.png')}}" class="card-img-top img-fluid" alt="...">
            <div class="card-body text-center" >
              <h5 class="card-title text-center mb-3">QUESTIONS</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary" >Go somewhere</a>
            </div>
          </div>
        </div>