<div id="carousel" class="carousel slide hero" data-bs-ride="carousel">
    <!-- Carousel Indicators -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    
    <!-- Carousel Inner -->
    <div class="carousel-inner">
      <div class="carousel-item active slide1">
        <div class="carousel-caption d-none d-md-block label">
          <h1>A SPACE FOR EVERYONE </h1>
          <button type="button" class="btn btn-primary px-5"><a href="#register-page"class="sign-up" onclick='window.location.href="/register"' >REGISTER</a></button>
        </div>
      </div>
      <div class="carousel-item slide2">
        <div class="carousel-caption d-none d-md-block">
          <h1>SHARE YOUR INSIGHT AND IDEAS</h1>
          <button type="button" class="btn btn-primary px-5" ><a href="#register-page" class="sign-up "  onclick='window.location.href="/register"'>REGISTER</a></butto>
        </div>
      </div>
      <div class="carousel-item slide3">
        <div class="carousel-caption d-none d-md-block">
          <h1>TOGETHER WE PROVIDES A BETTER SOLUTIONS</h1>
          <button type="button" class="btn btn-primary px-5"><a href="#register-page" class="sign-up" onclick='window.location.href="/register"'>REGISTER</a></button>
        </div>
      </div>
    </div>
    
    <!-- Carousel Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>